# Copy this file to ".env" and fill the values, or configure it on Github secrets if using Github actions
ROAMRESEARCH_USER="YOUR_EMAIL"
ROAMRESEARCH_PASSWORD="YOUR_PASSWORD"
# find it here https://user-images.githubusercontent.com/656694/84388282-98136800-abf4-11ea-84c1-85ffc59b30b0.png
ROAMRESEARCH_DATABASE="YOUR_DATABASE"
